.button-setings{
    right: 0;
    position: absolute;
}

.avatar  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    box-shadow: 1px 0px 20px 0px #4c24eab3;
}