$padding-top: 40px;
$height: 180px;

ion-row{
  ion-card{ 
     width:100% !important;
     margin-left: 0 !important; 
     margin-right: 0 !important; 
     
     img{ width:100%; } 
 } 
}

.addUser {
  color: white;
  padding-top: $padding-top;
  height: $height;
  background-image: linear-gradient(to top right, #d241ff, #ff00bfab);
  border-radius: 6px;
  box-shadow: 0px 3px 8px #c649fea6;
}

.seeUser {
  color: white;
  padding-top: $padding-top;
  height: $height;
  background-image: linear-gradient(to top right, #7441ff, #001affab);
  border-radius: 6px;
  box-shadow: 0px 3px 8px #7441ff;
}

.company {
  color: white;
  padding-top: $padding-top;
  height: $height;
  background-image: linear-gradient(to top right, #41ffa6, #00ff40ab);
  border-radius: 6px;
  box-shadow: 0px 3px 8px #41ffa6;
}

.data {
  color: white;
  padding-top: $padding-top;
  height: $height;
  background-image: linear-gradient(to top right, #FF9800, #f7eb32);
  border-radius: 6px;
  box-shadow: 0px 3px 8px #FF9800;
}