<ion-content>
  <div class="register"></div>
  <ion-grid>
    <ion-row>
    
      <ion-button fill="clear" color="dark" routerLink=''>
        <ion-icon name="chevron-back-outline" style="font-size:x-large;"></ion-icon>
      </ion-button>
  
   
      <ion-button fill="clear" color="dark" class="button-setings">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>

   
    </ion-row>
  </ion-grid>


  <ion-card>

    <div class="tab">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>

    <ion-text class="text-form" color="dark">
      Register
    </ion-text>

    <ion-item >
      <ion-label position="floating">
        E-mail
      </ion-label>
      <ion-input [(ngModel)]="register.email"></ion-input>
      <ion-icon name="mail-outline" slot="end" color="ternary"></ion-icon> 
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Name
      </ion-label>
      <ion-input [(ngModel)]="register.name"></ion-input>
      <ion-icon name="person-outline" slot="end" color="ternary"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-label position="floating">
        Birth Date
      </ion-label>
      <ion-input [(ngModel)]="register.birthDate"></ion-input>
      <ion-icon name="pizza-outline" slot="end" color="ternary"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-label position="floating">
        Into in company
      </ion-label>
      <ion-input [(ngModel)]="register.intoInCompany"></ion-input>
      <ion-icon name="boat-outline" slot="end" color="ternary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="register.gender">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Menager</ion-label>
      <ion-toggle slot="end" name="cherry" color="tertiary" checked [(ngModel)]="register.manager"></ion-toggle>
    </ion-item>

    <section>
    <ion-button color="tertiary" expand="block" (click)="registerFinish()">Register</ion-button>
    </section>


  </ion-card>


</ion-content>
  