<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 

    <ion-grid>
      <ion-row>
        <ion-col size="12"  width-100  (click)="router('/register')" >
          <ion-card class="addUser ion-text-center" >
            <ion-icon name="person-add-outline" style="font-size: 32px;"></ion-icon>
            <ion-card-title>Regiter</ion-card-title>
            <ion-card-subtitle color="dark">add new user</ion-card-subtitle>
          </ion-card>
        </ion-col>

        <ion-col size="12"  width-100 (click)="router('/user-control')">
          <ion-card class="seeUser ion-text-center" >
            <ion-icon name="people-outline" style="font-size: 32px;"></ion-icon>
            <ion-card-title>Users</ion-card-title>
            <ion-card-subtitle color="dark">see your users</ion-card-subtitle>
          </ion-card>
        </ion-col>

        <ion-col size="12"  width-100 routerLink="edit-user/1">
          <ion-card class="company ion-text-center" >
            <ion-icon name="business-outline" style="font-size: 32px;"></ion-icon>
            <ion-card-title>Company</ion-card-title>
            <ion-card-subtitle color="dark">Add new company</ion-card-subtitle>
          </ion-card>
        </ion-col>

        <ion-col size="12"  width-100 >
          <ion-card class="data ion-text-center" >
            <ion-icon name="analytics-outline" style="font-size: 32px;"></ion-icon>
            <ion-card-title>Datt</ion-card-title>
            <ion-card-subtitle color="dark">see your users</ion-card-subtitle>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
 

  
</ion-content>
